<h1>Books</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

<table>
<th>Title</th>
<th>Body</th>
</table>



<% @books.each do |book| %>

<main>
<tr><%= book.title %></tr>
<td><%= book.body %></td>
<%= link_to "edit", edit_book_path(book.id) %>
<%= link_to "show", book_path(book.id) %>
<%= link_to "delete", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
</main>
<% end %>

<h2>New book<h2>

<%= form_with model: @book, url: '/books', method: :post do |f| %>

<h4>title</h4>
<%= f.text_field :title %>

<h4>Body</h4>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>
 <% end %>
